In [2]:
import pandas as pd
import matplotlib.pyplot as plt

In [19]:
rolling_ratings = pd.read_csv('data/rolling_period_ratings_stats.csv')

In [13]:
test = rolling_ratings[['reviewDateTime','ticker','1_ratingOverall_mean','1_ratingCareerOpportunities_mean']]

In [20]:
monthly_rating = rolling_ratings.filter(like='1').columns
monthly_cols = []
for col in monthly_rating:
    if col[-5:]!='total':
        monthly_cols.append(col)

numeric_ratings = rolling_ratings[['reviewDateTime','ticker']+list(monthly_cols)]
numeric_ratings.columns = [col if col[:2]!='1_' else col[2:] for col in numeric_ratings.columns]

numeric_ratings.rename(columns={'reviewDateTime': 'date'},inplace=True)

grouped = numeric_ratings.groupby(['date','ticker']).mean()
unstacked = grouped.unstack()

/var/folders/fm/rwn89n9x1b94vk3rbr72zvtw0000gn/T/ipykernel_28185/3854395706.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  numeric_ratings.rename(columns={'reviewDateTime': 'date'},inplace=True)

In [22]:
unstacked.to_pickle('DB@rating_numeric.pkl')

In [18]:
unstacked.head()

           ratingOverall_count                                            ...  \
ticker                       A  AA AAL AAME AAOI AAON AAP AAPL AAWW ABBV  ...
date                                                                      ...
2008-04-30                 NaN NaN NaN  NaN  NaN  NaN NaN  NaN  NaN  NaN  ...
2008-05-31                 NaN NaN NaN  NaN  NaN  NaN NaN  NaN  NaN  NaN  ...
2008-06-30                 NaN NaN NaN  NaN  NaN  NaN NaN  NaN  NaN  NaN  ...
2008-07-31                 NaN NaN NaN  NaN  NaN  NaN NaN  NaN  NaN  NaN  ...
2008-08-31                 NaN NaN NaN  NaN  NaN  NaN NaN  NaN  NaN  NaN  ...

           ratingDiversityAndInclusion_mean                                \
ticker                                 ZDGE ZEUS ZION ZIP  ZM ZOM  ZS ZTS
date
2008-04-30                              NaN  NaN  NaN NaN NaN NaN NaN NaN
2008-05-31                              NaN  NaN  NaN NaN NaN NaN NaN NaN
2008-06-30                              NaN  NaN  NaN NaN NaN NaN NaN NaN
2008-07-31                              NaN  NaN  NaN NaN NaN NaN NaN NaN
2008-08-31                              NaN  NaN  NaN NaN NaN NaN NaN NaN


ticker     ZUMZ ZYXI
date
2008-04-30  NaN  NaN
2008-05-31  NaN  NaN
2008-06-30  NaN  NaN
2008-07-31  NaN  NaN
2008-08-31  NaN  NaN

[5 rows x 35294 columns]

### 36 month rolling

In [5]:
import sys
sys.path.append('/home/group3/group3/Finalized')
from helper import *

In [3]:
glassd_classification = pd.read_parquet('/home/group3/group3/Finalized/data/glassd_classification_cleaned.parquet')

In [8]:
glassd_classification.index = pd.to_datetime(glassd_classification['reviewDateTime'])

In [ ]:
rolling_df = get_rolling_ratings_ret_df(glassd_classification)

In [ ]:
rolling_df.to_csv('36_rollingretratings.csv',index=False)

In [3]:
rolling_ratings = pd.read_csv('/home/group3/group3/Finalized/data/36_rollingretratings.csv')

In [5]:
monthly_rating = rolling_ratings.filter(like='36_').columns
monthly_cols = []
for col in monthly_rating:
    if col[-5:]!='total':
        monthly_cols.append(col)

numeric_ratings = rolling_ratings[['reviewDateTime','ticker']+list(monthly_cols)]
numeric_ratings.columns = [col if col[:3]!='36_' else col[3:] for col in numeric_ratings.columns]

numeric_ratings.rename(columns={'reviewDateTime': 'date'},inplace=True)
numeric_ratings.head()

grouped = numeric_ratings.groupby(['date','ticker']).mean()
unstacked = grouped.unstack()

/var/folders/fm/rwn89n9x1b94vk3rbr72zvtw0000gn/T/ipykernel_28185/365179049.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  numeric_ratings.rename(columns={'reviewDateTime': 'date'},inplace=True)

In [7]:
unstacked.to_pickle('DB@rating_numeric_36.pkl')

In [9]:
unstacked.tail()

           ratingOverall_count                                          \
ticker                       A     AA     AAL AAME  AAOI  AAON     AAP
date
2022-08-31               696.0  184.0  3110.0  3.0  38.0  56.0  1447.0
2022-09-30               705.0  188.0  3155.0  3.0  39.0  55.0  1486.0
2022-10-31               713.0  188.0  3231.0  3.0  41.0  55.0  1515.0
2022-11-30               715.0  188.0  3295.0  4.0  40.0  54.0  1549.0
2022-12-31               723.0  189.0  3352.0  4.0  39.0  53.0  1569.0

                                    ... ratingDiversityAndInclusion_mean  \
ticker         AAPL   AAWW    ABBV  ...                             ZDGE
date                                ...
2022-08-31  12496.0   94.0  1627.0  ...                              NaN
2022-09-30  12607.0   95.0  1674.0  ...                              NaN
2022-10-31  12773.0   96.0  1726.0  ...                              NaN
2022-11-30  12990.0   98.0  1761.0  ...                              NaN
2022-12-31  13139.0  102.0  1794.0  ...                              NaN

                                                                            \
ticker          ZEUS      ZION       ZIP        ZM ZOM        ZS       ZTS
date
2022-08-31  3.461538  3.637500  3.858108  4.469194 NaN  4.449324  3.768817
2022-09-30  3.461538  3.670659  3.866667  4.450893 NaN  4.463259  3.785714
2022-10-31  3.333333  3.672515  3.893082  4.428266 NaN  4.448541  3.799020
2022-11-30  3.333333  3.659091  3.890909  4.413580 NaN  4.446402  3.782407
2022-12-31  3.437500  3.668508  3.883041  4.414634 NaN  4.429185  3.817778


ticker          ZUMZ      ZYXI
date
2022-08-31  4.212617  4.125604
2022-09-30  4.222222  4.151376
2022-10-31  4.216814  4.181070
2022-11-30  4.204301  4.296552
2022-12-31  4.177320  4.345912

[5 rows x 35294 columns]

### Unemployed

In [12]:
rolling_ratings = pd.read_csv('data/not_employed_OLS.csv')

monthly_rating = rolling_ratings.filter(like='1_').columns
monthly_cols = []
for col in monthly_rating:
    if col[-5:]!='total':
        monthly_cols.append(col)

numeric_ratings = rolling_ratings[['reviewDateTime','ticker']+list(monthly_cols)]
numeric_ratings.columns = [col if col[:2]!='1_' else col[2:] for col in numeric_ratings.columns]

numeric_ratings.rename(columns={'reviewDateTime': 'date'},inplace=True)
numeric_ratings.head()

grouped = numeric_ratings.groupby(['date','ticker']).mean()
unstacked = grouped.unstack()

/var/folders/fm/rwn89n9x1b94vk3rbr72zvtw0000gn/T/ipykernel_28185/1276580769.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  numeric_ratings.rename(columns={'reviewDateTime': 'date'},inplace=True)

In [13]:
unstacked.to_pickle('data/DB@rating_numeric_unemployed.pkl')

In [14]:
rolling_ratings = pd.read_csv('data/not_employed_OLS.csv')

monthly_rating = rolling_ratings.filter(like='12_').columns
monthly_cols = []
for col in monthly_rating:
    if col[-5:]!='total':
        monthly_cols.append(col)

numeric_ratings = rolling_ratings[['reviewDateTime','ticker']+list(monthly_cols)]
numeric_ratings.columns = [col if col[:3]!='12_' else col[3:] for col in numeric_ratings.columns]

numeric_ratings.rename(columns={'reviewDateTime': 'date'},inplace=True)
numeric_ratings.head()

grouped = numeric_ratings.groupby(['date','ticker']).mean()
unstacked = grouped.unstack()

/var/folders/fm/rwn89n9x1b94vk3rbr72zvtw0000gn/T/ipykernel_28185/4106986229.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  numeric_ratings.rename(columns={'reviewDateTime': 'date'},inplace=True)

In [15]:
unstacked.to_pickle('data/DB@rating_numeric_unemployed_12.pkl')

In [16]:
rolling_ratings = pd.read_csv('data/employed_OLS.csv')

monthly_rating = rolling_ratings.filter(like='1_').columns
monthly_cols = []
for col in monthly_rating:
    if col[-5:]!='total':
        monthly_cols.append(col)

numeric_ratings = rolling_ratings[['reviewDateTime','ticker']+list(monthly_cols)]
numeric_ratings.columns = [col if col[:2]!='1_' else col[2:] for col in numeric_ratings.columns]

numeric_ratings.rename(columns={'reviewDateTime': 'date'},inplace=True)
numeric_ratings.head()

grouped = numeric_ratings.groupby(['date','ticker']).mean()
unstacked = grouped.unstack()

/var/folders/fm/rwn89n9x1b94vk3rbr72zvtw0000gn/T/ipykernel_28185/3059452327.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  numeric_ratings.rename(columns={'reviewDateTime': 'date'},inplace=True)

In [17]:
unstacked.to_pickle('data/DB@rating_numeric_employed.pkl')

### NLP

In [4]:
rolling_ratings = pd.read_csv('data/nlp_rollingret.csv')

monthly_rating = rolling_ratings.filter(like='1_').columns
monthly_cols = []
for col in monthly_rating:
    if col[-5:]!='total':
        monthly_cols.append(col)

numeric_ratings = rolling_ratings[['reviewDateTime','ticker']+list(monthly_cols)]
numeric_ratings.columns = [col if col[:2]!='1_' else col[2:] for col in numeric_ratings.columns]

numeric_ratings.rename(columns={'reviewDateTime': 'date'},inplace=True)
numeric_ratings.head()

grouped = numeric_ratings.groupby(['date','ticker']).mean()
unstacked = grouped.unstack()

/var/folders/fm/rwn89n9x1b94vk3rbr72zvtw0000gn/T/ipykernel_55653/3421765897.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  numeric_ratings.rename(columns={'reviewDateTime': 'date'},inplace=True)

In [5]:
unstacked.to_pickle('data/DB@nlp_ratings.pkl')